<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chirp</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
  <script src="javascripts/app.js"></script>
</head>

<body ng-app="chirpApp">
  <div id="main" class="container">
    <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" ui-sref="main">Chirp</a>
        <div class="navbar-nav">
          <a class="nav-item nav-link mr-1" ui-sref="login" ng-hide="currentUser.authenticated">Log In</a>
          <a class="nav-item nav-link" ui-sref="register" ng-hide="currentUser.authenticated">Register</a>
          <span class="navbar-text mr-3 text-light" ng-show="currentUser.authenticated">Logged in as {{ currentUser.username }}</span>
          <a class="nav-item nav-link" ui-sref="main" ng-click="logout()" ng-show="currentUser.authenticated">Log Out</a>
        </div>
      </div>
    </nav>
    <ui-view></ui-view>
  </div>
</body>

</html>