<div class="row">
  <div class="col-md-8 offset-md-2">
    <form name="ctrl.form" ng-submit="ctrl.addPost()">
      <h5>Hi, {{ currentUser.username }}</h5>
      <div class="form-group">
        <textarea class="form-control" maxlength="200" rows="3" placeholder="What's new?" required ng-model="ctrl.newPost.text"></textarea>
      </div>
      <input class="btn submit-btn float-right" type="submit" value="Chirp!">
    </form>
  </div>
</div>
<div class="row">
  <div id="post-stream" class="col-md-8 offset-md-2">
    <h4>Chirp Feed</h4>
    <div class="post" ng-repeat="post in ctrl.posts | orderBy:'-createdAt'" ng-class-odd="'odd'" ng-class-even="'even'">
      <p>{{ post.text }}</p>
      <small>Posted by @{{ post._creator.username }}</small>
      <small class="float-right">{{ post.createdAt | date:"h:mma 'on' MMM d, y" }}</small>
    </div>
  </div>
</div>